$nbAura: 31;
$count: 0;
$rotateLeft: 0;
$rotateRight: 0;

.parent{
  padding-top: 90px;
  position: relative;
}
img{
  display: block;
  margin: 0 auto;
  width: 300px;
}

.aura{
  bottom: 0;
  padding: 340px 70px;
  border-radius: 50%;
  box-shadow: 0 0 50px 10px gold;
  left: 50%;
  position: absolute;
}

@for $i from 1 through $nbAura {
  $count: $count + 5;
  $rotateRight: $rotateRight + 0.8;

  .aura:nth-child(#{$i}) {
    margin-left: -$count + px;
    @if $i < 15 {
      $rotateLeft: $i;
      transform: rotate($rotateLeft + deg);
    } @else {
      transform: rotate(-1 * $rotateRight + 15 + deg);
    }
    animation: rotate-#{$i} 2s linear infinite #{$i/5}s;
    @keyframes rotate-#{$i} {
      @if $i < 15 {
        $rotateLeft: $i;
        from {transform: rotate($rotateLeft + deg) rotate3d(1, 0.5, 1, 0deg);}
        to {transform: rotate($rotateLeft + deg) rotate3d(1, 0.5, 1, 360deg)}
      } @else {
        from {transform: rotate($rotateLeft + deg) rotate3d(1, 0.5, 1, 0deg);}
        to {transform: rotate($rotateLeft + deg) rotate3d(1, 0.5, 1, 360deg)}
      }
    }
  }
}